<ion-view view-title="微信">
	<ion-content class="has-header-bar" ng-controller="wechatCtrl">
			<ion-list>
				<!--<ion-item>
					<button ng-click="openPopover($event)">打开浮动框</button>
				</ion-item>-->
				<ion-item ng-repeat="item in wechatList" ui-sref="tabs.chat({chatId:item.id})" on-hold="showModal(item)" class="item-avatar">
					
					<img src="{{item.avatar}}" alt="" /> <!--<span class="badge badge-assertive">8</span>-->
					
					<h2>{{item.name}}</h2>
					<p>{{item.des}}</p>
					
				</ion-item>
			</ion-list>
	</ion-content>
</ion-view>
<!--<div id="" class="item-avatar">
	
</div>-->